@import "nullstyle";
@import "svg";

$color-main-green: #09a66d;
$color-light-green: #f3fbf8;
$color-black: #222222;
$color-pale-black: #555555;

* {
  box-sizing: border-box;
  color: $color-black;
  font-family: "DM Sans", sans-serif;
}
.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

@media screen and (min-width: 767px) {
  .container {
    padding: 0;
  }
}

.logo {
  display: block;
  width: 56px;
  height: 56px;
  padding: 13.79px 13.74px 5.35px 5.47px;

  position: relative;
  &__leaf {
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.6s;
    transform-origin: 23.5px 32px;
  }
  &:hover &__leaf {
    transform: rotate(-0.25turn);
  }
  &.active &__leaf {
    transform: rotate(-1turn);
  }
}

.section-title {
  font-family: "Rosario", sans-serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 129%;
}
.section-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 167%;
  color: $color-pale-black;
}

@media screen and (min-width: 846px) {
  .section-title {
    font-size: 70px;
  }
  .section-description {
    font-size: 18px;
  }
}

.header {
  .container {
    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__navigation {
    display: flex;
    flex-direction: column;
    position: fixed;
    padding-top: 60px;
    max-width: 220px;
    top: 96px;
    width: 100%;
    height: 100vh;
    right: -100%;
    background-color: #ffffff;
    transition: right 0.2s;
    &.active {
      right: 0;
    }
  }
  &__navigation-element {
    padding: 10px 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    transition: color 0.3s;
    &:hover {
      color: $color-main-green;
    }
  }
  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__icons-wrapper {
    cursor: pointer;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: $color-light-green;
    transition: all 0.3;
    &:hover {
      box-shadow: 0 0 30px 2px $color-main-green;
    }
  }
  &__reg-btn {
    position: fixed;
    top: 111px;
    cursor: pointer;
    padding: 8px 10px;
    border-radius: 8px;
    background-color: #09a66d;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    transition: all 0.3;
    color: #ffffff;
    right: -100%;
    transition: all 0.2s;

    &.mobile {
      right: 59px;
    }
    &:hover {
      opacity: 0.8;
      // box-shadow: 0 0 30px 5px $color-main-green;
      // background-color: #ffffff;
      // color: #09a66d;
    }
  }
  &__burger {
    display: block;
    position: relative;
    width: 24px;
    height: 16px;
    cursor: pointer;
    &::before,
    &::after {
      content: " ";
      background-color: $color-main-green;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.3s ease;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    & span {
      background-color: $color-main-green;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      top: 7px;
      transition: all 0.3s ease;
    }
    &.active {
      &::before {
        transform: rotate(45deg);
        top: 7px;
      }
      &::after {
        transform: rotate(-45deg);
        bottom: 7px;
      }
      & span {
        transform: scale(0);
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .header {
    .container {
      padding: 50px 0 43px;
    }
  }
}

@media screen and (min-width: 846px) {
  .header {
    .container {
      padding: 50px 20px 43px;
    }
    &__navigation {
      height: auto;
      position: unset;
      flex-direction: row;
      padding: 0;
      max-width: unset;
      width: auto;
    }
    &__burger-wrapper {
      display: none;
    }
    &__reg-btn {
      margin-left: 12px;
      position: unset;
      padding: 10px 23px;
      font-size: 18px;
    }
    &__navigation-element {
      padding: 0;
      font-size: 18px;
      &:not(:last-child) {
        margin-right: 40px;
      }
    }
  }
}

.hero {
  background-color: $color-light-green;
  .container {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #scene {
    position: absolute;
    z-index: 2;
    top: -37px;
    left: 0;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
  }
  &__paralax-img {
    opacity: 0.8;
  }
  &__title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
  }
  &__title {
    text-align: center;
    margin-bottom: 20px;
  }
  &__description {
    display: block;
    max-width: 637px;

    text-align: center;
    margin-bottom: 40px;
  }
  // &__image {
  //   max-width: 862px;
  //   width: 100%;
  // }
  &__photo-and-reviews {
    display: flex;
    flex-direction: column;
  }
  &__reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__review-item {
    display: flex;
    align-items: center;
    padding: 10px 16px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 2px 0 5px 0.1px rgba(9, 166, 109, 0.3);
    opacity: 0;
    transition: all 1.5s;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
    &.not-opacity {
      opacity: 1;
    }
  }
  &__icon-wrapper {
    width: 56px;
    height: 56px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-light-green;
    margin-right: 24px;
  }
  &__counter-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &__counter {
    text-align: center;
    font-weight: 400;
    font-size: 38px;
    line-height: 100%;
    min-width: 95px;
  }
  &__counter-description {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 167%;
    padding-top: 4px;
  }
  &__image-wrapper {
    position: relative;
    margin-bottom: 10px;
  }
  &__image {
    max-width: 862px;
    width: 100%;
    object-fit: cover;
  }
}

@media screen and (min-width: 446px) {
  .hero {
    &__photo-and-reviews {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
    &__image-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    }
    &__reviews {
      z-index: 2;
      align-items: flex-end;
      padding-right: 20px;
    }
  }
}

@media screen and (min-width: 846px) {
  .hero {
    .container {
      padding-top: 92px;
    }
    &__photo-and-reviews {
      position: relative;
      flex-direction: row;
    }
    &__image-wrapper {
      margin-bottom: 0;
      top: unset;
      left: 20px;
      bottom: -17px;
    }
    &__reviews {
      align-items: flex-end;
    }

    &__review-item {
      max-width: 250px;
      padding: 17px 33px;
    }
    &__counter {
      font-size: 48px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    &__photo-and-reviews {
      padding-right: 0;
    }
  }
}

.order-now {
  margin: 0 auto;
  display: flex;
  align-items: center;
  background: transparent;
  position: relative;
  z-index: 2;
  margin-bottom: 10px;
  overflow: hidden;
  &:hover &__arrow-wrapper {
    animation: move-arrow-wrapper 1.25s infinite;
  }
  &:hover &__arrow {
    animation: move-arrow 1.25s infinite;
  }
  &__span {
    display: block;
    font-weight: 500;
    font-size: 18px;
    line-height: 167%;
    margin-right: 20px;
  }
  &__arrow-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: $color-main-green;
  }
  &__arrow {
    fill: #ffffff;
    width: 26.4px;
    height: 12.8px;
  }
}

@keyframes move-arrow-wrapper {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(20px);
  }
}
@keyframes move-arrow {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(10px);
  }
}

@media screen and (min-width: 846px) {
  .order-now {
    margin-bottom: 0;

    &__span {
      font-size: 16px;
    }
    &__arrow-wrapper {
      width: 64px;
      height: 64px;
    }
    &__arrow {
      width: 33px;
      height: 16px;
    }
  }
}

.image-with-courier {
  display: flex;
  max-width: 601px;
  padding: 20px;
  width: 100%;
  max-height: 601px;
  justify-content: center;
  align-items: center;
  position: relative;
  &:after {
    content: "";
    padding-top: 100%;
    display: block;
  }
  &__green-elipse {
    content: " ";
    max-width: 420px;
    max-height: 456px;
    width: 100%;
    background-image: url("@img/kek.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    &:after {
      content: "";
      padding-top: 109%;
      display: block;
    }
  }
  &__green-snake {
    display: none;
  }
}

@media screen and (min-width: 628px) {
  .image-with-courier {
    padding: 90px;
    &__green-elipse {
      position: absolute;
      top: 53px;
    }
    &__green-snake {
      width: 385px;
      display: block;
      position: absolute;
      right: 0;
      animation: move-snake 5s linear infinite;
      transform-origin: 86.5px;
    }
  }
}
@media screen and (min-width: 1280px) {
  .image-with-courier {
    position: absolute;
    bottom: 70px;
    right: 0;
  }
}

@keyframes move-snake {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(1turn);
  }
}

.service {
  .container {
    position: relative;
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  &__image-block {
    margin-bottom: 56px;
  }

  &__title {
    margin-bottom: 20px;
    text-align: center;
  }
  &__description {
    display: block;
    margin-bottom: 56px;
    max-width: 637px;
  }
  &__content {
    display: flex;
    flex-direction: column;

    align-items: center;
  }
}

@media screen and (min-width: 848px) {
  .service {
    .container {
      padding-top: 140px;
      padding-bottom: 146px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .service {
    .container {
      flex-direction: row;
      justify-content: space-between;
    }
    &__image-block {
      align-self: flex-end;
      overflow: hidden;
      margin-bottom: 0;
    }
    &__content {
      display: block;
    }
  }
}

.service {
  .swiper {
    margin-bottom: 30px;
  }
  .swiper-wrapper {
    max-height: 350px;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    max-width: 500px;
    width: 100%;
    padding: 20px 20px;
    transition: all 0.3s;

    &__icon-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50px;
      background-color: $color-light-green;
      margin-right: 14px;
    }
    &__title {
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
      margin-bottom: 8px;
    }
    &__description {
      font-weight: 400;
      font-size: 14px;
      line-height: 143%;
      color: $color-pale-black;
    }
    &-active {
      background-color: $color-light-green;
      .swiper-slide__icon-wrapper {
        background-color: #ffffff;
      }
    }
  }
}

@media screen and (min-width: 848px) {
  .service {
    .swiper-wrapper {
      max-height: 520px;
    }
    .swiper-slide {
      padding: 40px 59px;
      &__icon-wrapper {
        width: 80px;
        height: 80px;
        margin-right: 24px;
      }
      &__title {
        font-size: 20px;
        margin-bottom: 8px;
      }
      &__description {
        font-size: 12px;
      }
    }
  }
}

.swiper-button-next-my {
  max-width: 500px;
  width: 100%;
  min-height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  .arrow-icon {
    fill: $color-main-green;
    transform: rotate(90deg);
  }
  &:hover .arrow-icon {
    transform: rotate(90deg);
    animation: move 1.25s infinite;
  }
}

@keyframes move {
  0% {
    transform: translateY(0) rotate(90deg);
  }
  100% {
    transform: translateY(10px) rotate(90deg);
  }
}

.special-items {
  background-color: $color-light-green;
  .container {
    padding-top: 89px;
    padding-bottom: 143px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
  }
  &__photo-wrapper {
    max-width: 600px;
    width: 100%;
    max-height: 600px;
    background-color: #dcf3ea;
    position: relative;
    overflow: hidden;
    margin-bottom: 50px;
    // &:after {
    //   content: "";
    //   padding-top: 100%;
    //   display: block;
    // }
    .layer {
      width: 100%;
      &:after {
        content: "";
        padding-top: 100%;
        display: block;
      }
    }
  }
  &__rotated-photo {
    position: absolute;
    width: 100%;
    box-shadow: 15px 15px 40px rgba(144, 208, 88, 0.4);
    transform: rotate(30deg);
  }
  &__cucumber {
    z-index: 4;
    max-width: 41.67%;
    left: 13.64%;
    top: 12.43%;
  }
  &__oranges {
    z-index: 3;
    max-width: 33.33%;
    right: 0.03%;
    top: 10.57%;
  }
  &__apples {
    z-index: 2;
    max-width: 34.66%;
    left: 0.12%;
    top: 52.36%;
  }
  &__greens {
    z-index: 1;
    max-width: 44.95%;
    right: 9.7%;
    bottom: 12.21%;
  }

  &__content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    text-align: center;
    margin-bottom: 20px;
  }

  &__description {
    max-width: 637px;
    margin-bottom: 50px;
  }
  #scene2 {
    align-self: flex-start;
    position: absolute;
    overflow: hidden;
    right: -100px;
    bottom: 0;
    z-index: 0;
  }
  &__paralax-img {
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    opacity: 0.6;
  }
}

@media screen and (min-width: 1280px) {
  .special-items {
    .container {
      flex-direction: row;
      align-items: stretch;
      justify-content: space-between;
    }
    &__photo-wrapper {
      margin-right: 50px;
      margin-bottom: 0;
    }
    &__content {
      padding-top: 30px;
      align-items: flex-start;
    }
    &__title {
      text-align: start;
    }
    &__description {
      max-width: 574px;
    }
    .order-now {
      margin: 0;
    }
  }
}

.reviews {
  .container {
    padding-top: 96px;
    padding-bottom: 75px;
    margin-bottom: 74px;
    position: relative;
  }
  &__title {
    text-align: center;
    max-width: 640px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .swiper-reviews {
    overflow: hidden;
    min-height: 541px;
  }
}

.reviews {
  .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__photo {
      max-width: 500px;
      width: 100%;
      background-color: $color-light-green;
      position: relative;
      border-radius: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      margin-bottom: 30px;
      &::after {
        display: block;
        content: " ";
        padding-top: 100%;
      }
    }
    &__first-photo {
      border-radius: 100%;
      object-fit: cover;
      width: 100%;
      max-width: 100%;
    }
    &__second-photo {
      width: 100%;
      max-width: 44%;
      position: absolute;
      left: 0;
      bottom: 3.08%;
      box-shadow: -15px 15px 25px rgba(0, 96, 60, 0.04);
      border-radius: 12px;
    }
    &__review {
      max-width: 586px;
      margin-bottom: 30px;
    }
    &__reviewer {
      font-weight: 500;
      font-size: 25px;
      line-height: 120%;
      margin-bottom: 20px;
    }
    &__likes {
      max-width: 100%;
      width: 100%;
    }
    &__star-icon:not(:last-child) {
      margin-right: 9.83px;
    }
  }

  .swiper-button-wrapper {
    position: absolute;
    display: flex;
    left: 62%;
    bottom: 80px;
    z-index: 1;
  }

  .swiper-button-custom {
    border: 1px solid #cccccc;
    width: 42px;
    height: 42px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s;
    &--prev {
      transform: rotate(180deg);
      margin-right: 16px;
    }
    &:hover {
      background-color: $color-main-green;
      border-color: $color-main-green;
      & .svg-swiper-arrow-dims {
        fill: #ffffff;
      }
    }
  }
  .svg-swiper-arrow-dims {
    fill: #cccccc;
    transition: all 0.3s;
  }
}

@media screen and (min-width: 848px) {
  .reviews {
    .swiper-slide {
      &__photo {
        margin-bottom: 30px;
      }

      &__review {
        margin-bottom: 40px;
      }
      &__reviewer {
        font-size: 30px;
        margin-bottom: 20px;
      }
    }
    .swiper-button-custom {
      width: 56px;
      height: 56px;
      &--prev {
        margin-right: 26.8px;
      }
    }
    .swiper-button-wrapper {
      left: 55%;
    }
  }
}
@media screen and (min-width: 1280px) {
  .reviews {
    &__title {
      position: absolute;
      text-align: start;
      z-index: 2;
    }
    .swiper-slide {
      flex-direction: row-reverse;
      align-items: stretch;
      justify-content: space-between;
      &__photo {
        margin-top: 41px;
        margin-bottom: 0;
      }
      &__content {
        padding-top: 210px;
      }
      &__review {
        margin-bottom: 40px;
      }
    }
    .swiper-button-wrapper {
      left: 30%;
      bottom: 90px;
    }
  }
}

.download-app {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 140px;
  }
  &__iphones {
    width: 265.08px;
    margin-bottom: 30px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__subtitle {
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    padding: 11px 24px;
    border-radius: 50px;
    background-color: $color-light-green;
    margin-bottom: 16px;
  }
  &__title {
    max-width: 663px;
    text-align: center;
    margin-bottom: 20px;
  }
  &__description {
    max-width: 574px;
    margin-bottom: 50px;
  }
  &__link {
    &:first-of-type {
      margin-right: 24px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .download-app {
    .container {
      flex-direction: row;
      align-items: stretch;
    }
    &__iphones {
      margin-bottom: 0;
      margin-right: 112px;
    }
    &__content {
      align-items: flex-start;
    }
    &__title {
      text-align: start;
    }
  }
}
