.svg-app-store-dims {
  width: 105px;
  height: 31px;
}
.svg-busket-dims {
  width: 21px;
  height: 21px;
}

.svg-earth-dims {
  width: 36.76px;
  height: 36.86px;
}
.svg-facebook-dims {
  width: 25px;
  height: 25px;
}

.svg-google-play-dims {
  width: 105px;
  height: 31px;
}
.svg-half-star-dims {
  width: 23.15px;
  height: 23.15px;
}
.svg-harvest-dims {
  width: 32px;
  height: 32px;
}
.svg-instagram-dims {
  width: 25px;
  height: 25px;
}
.svg-leaf-dims {
  width: 55.97px;
  height: 56px;
}
.svg-long-arrow-dims {
  width: 33px;
  height: 16px;
}
.svg-planet-earth-dims {
  width: 57px;
  height: 56px;
}
.svg-search-dims {
  width: 21px;
  height: 21px;
}
.svg-star-dims {
  width: 23.15px;
  height: 23.15px;
}
.svg-star-weird-dims {
  width: 32px;
  height: 32px;
}
.svg-swiper-arrow-dims {
  width: 10.37px;
  height: 16.97px;
}
.svg-twitter-dims {
  width: 25px;
  height: 25px;
}
.svg-user-dims {
  width: 32px;
  height: 32px;
}

.svg-shopping-list-dims {
  width: 40px;
  height: 40px;
}
.svg-fast-time-dims {
  width: 40px;
  height: 40px;
}
.svg-delivery-man-dims {
  width: 40px;
  height: 40px;
}
@media screen and (min-width: 848px) {
  .svg-shopping-list-dims {
    width: 80px;
    height: 80px;
  }
  .svg-fast-time-dims {
    width: 80px;
    height: 80px;
  }
  .svg-delivery-man-dims {
    width: 80px;
    height: 80px;
  }
}
