.svg-app-store-dims {
  width: 105px;
  height: 31px;
}
.svg-busket-dims {
  width: 21px;
  height: 21px;
}
.svg-delivery-man-dims {
  width: 41px;
  height: 41px;
}
.svg-facebook-dims {
  width: 25px;
  height: 25px;
}
.svg-fast-time-dims {
  width: 41px;
  height: 41px;
}
.svg-google-play-dims {
  width: 105px;
  height: 31px;
}
.svg-half-star-dims {
  width: 24px;
  height: 24px;
}
.svg-harvest-dims {
  width: 32px;
  height: 32px;
}
.svg-instagram-dims {
  width: 25px;
  height: 25px;
}
.svg-long-arrow-dims {
  width: 33px;
  height: 16px;
}
.svg-planet-earth-dims {
  width: 56px;
  height: 56px;
}
.svg-search-dims {
  width: 21px;
  height: 21px;
}
.svg-shopping-list-dims {
  width: 41px;
  height: 41px;
}
.svg-star-dims {
  width: 24px;
  height: 24px;
}
.svg-star-weird-dims {
  width: 32px;
  height: 32px;
}
.svg-swiper-arrow-dims {
  width: 12px;
  height: 18px;
}
.svg-twitter-dims {
  width: 25px;
  height: 25px;
}
.svg-user-dims {
  width: 32px;
  height: 32px;
}
